In [1]:
print("Jupyter funkar üéâ")

Jupyter funkar üéâ

In [3]:
import pandas as pd
print("pandas funkar üéâ")

pandas funkar üéâ

In [8]:
import os
os.getcwd()

'/Users/kiara/Documents/matkassen-etl/notebook'

In [17]:
import pandas as pd

# L√§s in huvuddatan (filen ligger i samma mapp som notebook)
df = pd.read_csv("matkassen_data.csv")

# Visa de f√∂rsta 5 raderna
df.head()

,leverans_id,prenumeration_id,kund_id,pren_startdatum,paus_fr√•n,paus_till,pren_avslutsdatum,kasstyp,kostpreferens,antal_portioner,...,leveransdatum,postnummer,veckapris,leveransstatus,recept_1,recept_2,recept_3,omd√∂me_text,omd√∂mesdatum,omd√∂mesbetyg
0,LEV-2024-000001,PREN-1002,KUND-05001,2024-04-10,NaN,NaN,NaN,Klassisk,Standard,4,...,2024-07-03,10393,699,Levererad,Panerad fisk med remoulads√•s,Kyckling Tikka Masala,K√∂ttf√§rss√•s med pasta,NaN,NaN,NaN
1,LEV-2024-000002,PREN-1003,KUND-05002,2024-06-12,NaN,NaN,NaN,Familj,Standard,6,...,2024-07-02,40545,"919,00",Levererad,Chicken nuggets-sallad,K√∂ttbullar med makaroner,Fiskpinnar med potatismos,√Ñlskar att slippa planera middagar. Tack!,2024-07-07,4.0
2,LEV-2024-000003,PREN-1011,KUND-05010,2024-05-11,NaN,NaN,2024-07-16,Vegetarisk,NaN,4,...,2024-07-02,10686,709,Levererad,Falafel med hummus,Svamprisotto,Vegetarisk lasagne,Svamprisotto var verkligen inte gott. Sl√§ngde ...,2024-07-06,2.0
3,LEV-2024-000004,PREN-1017,KUND-05016,2024-05-26,NaN,NaN,NaN,Snabb & Enkel,Laktosfri,4,...,2024-07-01,40695,689,Levererad,15-minuters wok,Toast med avokado och √§gg,Snabb tomatsoppa,Priset √§r h√∂gt men sparar tid. P√• gr√§nsen.,2024-07-06,3.0
4,LEV-2024-000005,PREN-1018,KUND-05017,2024-05-02,NaN,NaN,2024-08-19,KLASSISK,NaN,2,...,2024-07-01,21938,499,Levererad,Panerad fisk med remoulads√•s,Laxfile med potatismos,Pasta Carbonara,"Fungerar, men recepten b√∂rjar bli repetitiva.",2024-07-08,3.0